{% extends 'base.html' %}

{% block title %} BlogPost {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %} 

<div class="container my-3">
        <h2 class="blog-post-title">{{post.title}}</h2> 
        <p class="blog-post-meta">{{post.timeStamp}} by <span class="badge btn-danger">{{post.author}}</span></p>
          <span class="badge btn-success">Views: {{post.views}}</span>

        <p>{{post.content}}</p>
        <hr>
        </div>
{% endblock body %}